.wrapper {
	width: 920px;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

#portfolio, #about, #contact {
	padding: 3.5em 0;
}

.titles {
	h2, p {
		margin: 0;
		font-weight: 400;
	}
	h2 {
		font-size: 2.5em;
		padding-bottom: .5em;
	}
	p {
		font-size: 1.1em;
		padding-bottom: 2.5em;
	}
}

.active {
	background: $main;
	color: $white !important;
	transition: all .3s ease-in-out;
}

.menu {
	display: none;
}

.btn {
	background: $main;
	color: $white;
	transition: all .3s ease-in-out;
	border: none;
	&:hover {
		background-color: $active;
		color: $white !important;
		cursor: pointer;
	}
}