html {
	box-sizing: border-box;
}

* {
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.u-clearfix:before, .u-clearfix:after {
	content: ' ';
	display: table;
}

.u-clearfix:after {
	clear: both;
}

body {
	font-family: 'Lato', sans-serif;
}

.owl-carousel {
	z-index: 0;
}