html {
	box-sizing: border-box;
}

* {
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.cf:before, .cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

body {
	font-family: 'Lato', sans-serif;
}