@import 'reset';
@import 'variables';
@import 'base';
#main_header {
	background-color: $white;
	padding: 1.6em 0;
	.logo {
		a {
			float: left;
			img {
				float: left;
			}
		}
	}
	#main_nav {
		float: right;
		padding-top: .9em;
		a {
			text-decoration: none;
			text-transform: uppercase;
			color: $dark_grey;
			margin-left: 0.1em;
			font-size: .9em;
			font-weight: 400;
			padding: .6em .9em;
			transition: all .3s ease-in-out;
			&:hover {
				background: $main;
				color: $white;
			}
		}
	}	
}
#banner {
	background-image: url('../images/jumbotron.png');
	background-repeat: no-repeat;
	background-size: cover;
	#banner_content {
		color: $white;
		text-align: center;
		width: 600px;
		max-width: 100%;
		margin: 0 auto;
		padding: 8.1em 0;
		h1, p {
			margin: 0;
			font-weight: 300;
		}
		h1 {
			font-size: 3.5em;
			span {
				font-weight: 700;
			}
		}
		p {
			font-size: 1.1em;
			padding-top: 2em;
		}
		.learn_more {
			padding: 1em 1.5em;
			border: none;
			text-transform: uppercase;
			font-size: .8em;
			font-weight: 700;
			margin: 3.5em auto;
			letter-spacing: .1em;
			display: block;
		}
		.scroll_down {
			border-radius: 50%;
			border: 5px solid rgba($main, 0.3);
			background: transparent;
			cursor: pointer;
			padding: 0;
			img {
				display: block;
			}
		}
	}
}
#portfolio{
	#portfolio_nav {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			padding: .6em .9em;
			margin: 0 .2em;
			list-style: none;
		}
		.active {
			background: $active;
		}
	}
	#icons {
		padding-top: 2em;
		.icon {
			display: inline-block;
			width: 170px;
			position: relative;
			margin: .5em;
			border-radius: 50%;
			line-height: 0;
			img[alt^='img'] {
				width: 170px;
				border-radius: 50%;
				margin: 0;
			}
			.inner_all {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: rgba($main, 0.6);
				cursor: pointer;
				display: none;
				.inner_content {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					transform: translate(-50%, -50%);
					line-height: 1;
					img[alt='search'] {
						margin: 0;
					}
					h3, p {
						color: $white;
						margin: .2em 0 0 0;
						font-weight: 400;
						font-size: 1.15em;
					}
					p {
						font-size: 1em;
					}
				}
			}
		}
	}
}
#about {
	background: $main;
	.o-title {
		color: $white;
	}
	.content {
		.workers {
			color: $dark_grey;
			margin: 0;
			background: $white;
			width: 85%;
			max-width: 100%;
			display: inline-block;
			.img {
				background-color: black;
				position: relative;
				img {
					max-width: 100%;
					float: left;
				}
				.inner_social {
					background-color: rgba(transparent, .6);
					position: absolute;
					width: 100%;
					height: 100%;
					padding: 50% 0;
					display: none;
					padding: 50% 0;
					cursor: pointer;
					a {
						color: $white;
						font-size: 1.5em;
						margin: 0 .2em;
						transition: all .2s ease-in-out;
						&:hover {
							color: $main;
						}
					}
				}
			}
			h4, h5, p {
				margin: 0 .7em;
				font-weight: 400;
			}
			.some_text {
				padding: 1em 0;
				.stuff_titles {
					padding-bottom: 1em;
					h4 {
						font-size: 1.15em;
						margin-bottom: .15em;
						}
					h5 {
						font-style: italic;
					}
				}	
				p {
					text-align: left;
					font-size: .95em;
					line-height: 1.3;
					margin: 0 1em;
				}
			}
		}
	}
}

//contact
.c-contact {
	background: $light_grey;
	.o-title {
		color: $dark_grey;
	}
}
.c-contact__content {
	form {
		float: left;
		text-align: left;
		max-width: 100%;
		input::placeholder, textarea::placeholder {
		  color: $grey;
		}
		input[placeholder$="name"], 
		input[placeholder$="email"] {				
			display: inline-block;
			padding: 1.1em 0 1.1em 1.1em;
			margin: 0 1.5em 1.5em 0;
			border: 1.5px solid $grey;
			font-style: italic;
			font-size: .85em;
			width: 215px;
			max-width: 100%;
		}
		textarea{
			display: block;
			padding: .8em 0 9em .8em;
			margin: 0 1.5em 1.5em 0;
			border: 1.5px solid $grey;
			font-style: italic;
			font-size: .85em;
			width: 450px;
			max-width: 100%;
			resize: none;
		}
		input[type="submit"] {
			float: right;
			margin-right: 1.7em;
			padding: 1em 2.4em .7em;
			text-transform: uppercase;
			font-size: .8em;
			font-weight: 400;
			letter-spacing: .15em;
		}
	}
	.info {
		text-align: left;
		list-style: none;
		width: 200px;
		margin: 0;
		padding: 0;
		float: left;
		color: $dark_grey;
		p {
			text-transform: uppercase;
			margin: 0;
			padding-bottom: 1em;
		}
		li {
		 	padding-bottom: 1em;
		 	font-size: .95em;
		}
	}
}

//footer
.c-footer {
	background: $dark_blue;
	padding: 1.5em 0;
	position: relative;
}
.c-footer__btn {
	float: right;
	width: 44px;
	height: 44px;
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.c-footer__copy {
	color: white;
	font-weight: 400;
	font-size: .95em;
	float: left;
	margin: 0 .5em 0 0;
	padding-top: 1em;
	.c-copy__char {
		margin: 0 .2em;
	}
}
@import 'responsive';